ul li {
  list-style-type: armenian;
}

.App {
  display: grid;
  margin: 0 auto;
  grid-template-areas: 'h h' 'c n';
  width: 1200px;

  grid-template-areas: " " ;
  grid-template-rows: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 10px;
}

.h{
  grid-area: h;
}
.n{
  grid-area: n;
}
.c{
  grid-area: c;

}


