.nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 10px;
}


.item a {
    color: cadetblue;
    text-decoration: none;
}


.item.active a {
    color: aliceblue;
}

.active a{
    color: bisque;
}

.item a.activeLink {
    color: green;
}